nav {
width: 100%;
padding: 1rem 5%;
background: rgb(88, 126, 126);
border-bottom: 1px solid rgba(255, 255,
255, 0.1);
backdrop-filter: blur (15px);
margin-bottom: 2rem;

display: flex;
align-items: center;
justify-content: space-between;
}
.nav-links {
   list-style: none;
   display: flex;
   gap: 1rem;
}
.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.nav-links li a:hover {
   color: rgb(222, 222, 238);
   text-shadow: 0 0 20px rgb(179, 121, 56);
}
.btns {
padding: 0.5rem 1rem;
border-radius: 30px;
font-weight: 600;
font-size: 1rem;
background: rgb(239, 230, 230);
color: black;
cursor: pointer;
border: none;
transition: 0.3s;
}
.btns:hover {
   background: rgb(209, 109, 109);
   text-shadow: 0 0 15px rgb(75, 143, 3);
}

 .hi {
    position: absolute;
    top: 10px;
    right: 1px;
    font-size: 10px;
}

 
 .fb-link a {
    color: rgb(22, 4, 63);
    transition: all 0.3s ease;
 }
  .fb-link a:hover {
    text-shadow: 0 0 15px rgb(154, 138, 52);
 }
 .name {
    font-size: 22px;
    color: rgb(78, 9, 9);
    transition: all 0.3s ease;
 }
 .cont {
    color: rgb(0, 0, 0);
    font-size: 40px;
    transition: all 0.3s ease;
    text-shadow: 0 0 15px rgb(173, 161, 161);
 }
 .cont :hover {
    text-shadow: 0 0 15px rgb(249, 249, 249);
 }
 .not {
    color: rgb(0, 0, 0);
    font-size: 40px;
    transition: all 0.3s ease;
    font-style: serif;
 }
 .not :hover {
    text-shadow: 0 0 15px rgb(195, 165, 191);
 }
 .coin {
    color: rgb(0, 0, 0);
    font-size: 40px;
    transition: all 0.3s ease;
    font-style: serif;
 }
 .coin :hover {
    text-shadow: 0 0 15px rgb(223, 200, 220);
 }
 .logo {
    height: 50px;
    width: 50px; 
 }
